{% load static %}
<div class="sidebar sidebar-dark sidebar-fixed sidebar-narrow-unfoldable" id="sidebar">
	<div class="sidebar-brand d-none d-md-flex">
		<a href="{% url 'dashboard' %}">
			<img class="sidebar-brand-full" width="auto" height="30" alt="Neural10 Logo" src="{% static 'dashboard/img/neural_white.png' %}"/>
		</a>
		<img class="sidebar-brand-narrow" width="auto" height="30" alt="Neural10 Logo" src="{% static 'dashboard/img/neural_logo_white.png' %}"/>
	</div>

	<ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
		<li class="nav-title">Aplicaciones</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'plates' %}">
				<svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
					<path d="{% include 'dashboard/modules/icons/car_path.txt' %}"/>
				</svg>
				Registro de placas
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'dashboard' %}">
				<svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
					<path d="{% include 'dashboard/modules/icons/background_path.txt' %}"/>
				</svg>
				Reconocimiento facial
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'dashboard' %}">
				<svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
					<path d="{% include 'dashboard/modules/icons/groups_path.txt' %}"/>
				</svg>
				Contéo de personas
			</a>
		</li>

		<li class="nav-title">Administración</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'members' %}">
				<svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
					<path d="{% include 'dashboard/modules/icons/group_path.txt' %}"/>
				</svg>
				Usuarios
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="{% url 'cameras' %}">
				<svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
					<path d="{% include 'dashboard/modules/icons/camera_path.txt' %}"/>
				</svg>
				Cámaras
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="{% url 'dashboard' %}">
				<svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
					<path d="{% include 'dashboard/modules/icons/graph_path.txt' %}"/>
				</svg>
				Reportes
			</a>
		</li>
	</ul>
	<button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>
