<div class="modal fade modal-lg" id="deleteMemberModal" tabindex="-1" aria-labelledby="deleteMemberModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteMemberModalLabel">
					Eliminar usuario "{{memberById.name}}"
				</h5>
				<button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close" />
			</div>
			<div class="modal-body">
				<form action="" method="post" id="deleteMember_form">
					{% csrf_token %}
					<input type="hidden" name="member_id" id="deleteMemberId_input">
					<div class="mb-3">
						<label class="form-label">
							¿Está seguro que deséa eliminar el usuario "{{memberById.name}}"?
						</label>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">
					Cancelar
				</button>
				<button id="deleteMember_btn" type="button" class="btn btn-danger">
					Eliminar
				</button>
			</div>
		</div>
	</div>
</div>