<div class="modal fade modal-lg" id="editMemberModal" tabindex="-1" aria-labelledby="editMemberModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editMemberModalLabel">
					Editar usuario "{{memberById.name}}"
				</h5>
				<button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"/>
			</div>
			<div class="modal-body">
				<div class="container">
					<input type="hidden" id="memberJSON" value="{{memberById_json}}">
					<form action="" method="post" id="editMember_form">
						<div class="row">
							{% csrf_token %}
							<div class="col-3">
								<div class="mb-3">
									<label for="id_field" class="form-label">ID</label>
									<input type="text" class="form-control" id="id_field" name="member_id" required readonly />
								</div>
							</div>
							<div class="col-9">
								<label for="editName_field" class="form-label">Usuario</label>
								<input type="text" class="form-control" id="editName_field" name="name" required />
								<span class="invalid-feedback"/>
							</div>

							<div class="col-12">
								<label for="editPassword_field" class="form-label">Contraseña</label>
								<input type="password" class="form-control" id="editPassword_field" name="password" required />
								<span class="invalid-feedback"/>
							</div>

							<div class="col-5">
								<label for="editRole_field" class="form-label">
									Rol
								</label>
								<select class="form-select form-control" id="editRole_field" name="role" aria-label="Rol del usuario" required>
									<option value="" selected disabled>Selecciona un rol para el usuario</option>
									<option value="admin">Administrador</option>
									<option value="technician">Técnico</option>
									<option value="operator">Operador</option>
								</select>
								<span class="invalid-feedback"/>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-coreui-dismiss="modal" >
					Cancelar
				</button>
				<button id="editMember_btn" type="button" class="btn btn-primary">
					Editar
				</button>
			</div>
		</div>
	</div>
</div>