{% extends "dashboard/index.html" %} {% block content %} {% load static %} {% load staticfiles %} {% load humanize %} {% load i18n %} {% load json_script from django.core.serializers.json %}
<h1>Camaras</h1>

<div class="row">
	<div class="col-2">
		<button type="button" class="btn btn-primary" data-coreui-toggle="modal" data-coreui-target="#createCameraModal" >
			Agregar cámara
		</button>
	</div>
</div>
<br>
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Cámara</th>
				<th scope="col">RTSP</th>
				<th scope="col">Servicios</th>
				<th scope="col">Vista</th>
				<th scope="col">Editar</th>
				<th scope="col">Eliminar</th>
			</tr>
		</thead>
		<tbody>
			{% for camera in cameras %}
				<tr>
					<th scope="row">{{ camera.camera_id }}</th>
					<td>{{camera.name}}</td>
					<td>{{camera.rtsp}}</td>
					<td>
						{% if camera.peop_c_service %}
							Contéo de personas
						{% elif camera.face_rec_service %}
							Reconocimiento facial
						{% elif camera.vehicules_service %}
							Registro de placas vehiculares
						{% else %}
							Sin servicios activos
						{% endif %}
					</td>
					<td>
						{% comment %} <form action="{% url 'send_message' %}" method="post" id="watchCamera_form"> {% endcomment %}
						<form action="" method="post" id="watchCamera_form">
							{% csrf_token %}
							<input type="hidden" name="camera_id" value="{{ camera.camera_id }}">
							<button class="btn btn-secondary btn-logo" id="watchCameraForm_btn">
								<span class="material-symbols-outlined">visibility</span>
							</button>
						</form>
					</td>
					<td>
						<button class="btn btn-primary btn-logo" data-camera-id="{{camera.camera_id}}">
							<span class="material-symbols-outlined">edit</span>
						</button>
					</td>
					<td>
						<button class="btn btn-danger btn-logo" data-coreui-toggle="modal" data-coreui-target="#deleteCameraModal" data-camera-id="{{camera.camera_id}}" data-camera-name="{{camera.name}}">
							<span class="material-symbols-outlined">delete</span>
						</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<br>

<div class="row">
	{% if cameraById %}
	<div class="row">
		<h1>{{ cameraById }}</h1>
		<tr>
			<th scope="row">{{ cameraById.camera_id }}</th>
			<td>{{cameraById.name}}</td>
			<td>{{cameraById.rtsp}}</td>
			<td>
				{% if cameraById.peop_c_service %}
					Contéo de personas
				{% elif cameraById.face_rec_service %}
					Reconocimiento facial
				{% elif cameraById.vehicules_service %}
					Registro de placas vehiculares
				{% else %}
					Sin servicios activos
				{% endif %}
			</td>
		</tr>
	</div>
	{% endif %}
</div>
<br>

{% json_script cameraById_json 'cameraById_json' %}

<div class="row">
	{% if result and result != 'No response from server.' %}
	<div class="row">
		<div id="videoContainer" style="padding: 0">
			<img id="videoFromCV" src="{% url 'video_feed' %}?result={{ result }}" />
		</div>
	</div>
	{% endif %}
</div>
<br>

<!-- Create Modal -->
{% include 'cameras_admin/forms/create.html' %}

<!-- Update Modal -->
{% include 'cameras_admin/forms/update.html' %}

<!-- Delete Modal -->
{% include 'cameras_admin/forms/delete.html' %}

{% endblock %}
