{% extends "dashboard/index.html" %} {% load static %}
{% block title %}Cámaras{% endblock %}
{% block content %}

<div class="row align-items-end">
	<div class="col-2">
		<div class="d-grid">
			<button type="button" class="btn btn-primary" data-coreui-toggle="modal" data-coreui-target="#createCameraModal" >
				Agregar cámara
			</button>
		</div>
	</div>
	<div class="col-5">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="d-grid">
				<label for="formFile" class="form-label">Importar cámaras</label>
				<input class="form-control" type="file" name="excel_cameras" enctype="multipart/form-data">
			</div>
	</div>
	<div class="col-2">
			<div class="d-grid">
				<input type="submit" name="upload_excel" value="Importar" class="btn btn-success"/>
				<span class="invalid-feedback"/>
			</div>
		</form>
	</div>
	{% comment %} <div class="col-1"></div>
	<div class="col-2">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="d-grid">
				<input type="submit" name="create_excel" value="Create excel" class="btn btn-success"/>
			</div>
		</form>
	</div> {% endcomment %}
</div>
<br>
{% if rows %}
{% for row in rows %}
{{ row }}<br>
{% endfor %}
{% endif %}
<br>
<div class="row">
	<div class="card mb-3">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">ID</th>
					<th scope="col">Cámara</th>
					<th scope="col">RTSP</th>
					<th scope="col">Servicios</th>
					<th scope="col">Vista</th>
					<th scope="col">Editar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				{% for camera in cameras_list %}
					<tr>
						<th scope="row">{{ cameras_list.start_index|add:forloop.counter0 }}</th>
						<td>{{ camera.camera_id }}</td>
						<td>{{ camera.name }}</td>
						<td>{{ camera.rtsp }}</td>
						<td>
							{% if camera.peop_c_service %}
								Contéo de personas
							{% elif camera.face_rec_service %}
								Reconocimiento facial
							{% elif camera.vehicles_service %}
								Registro de placas vehiculares
							{% else %}
								Sin servicios activos
							{% endif %}
						</td>
						<td>
							<a href="{% url 'rtsp_camera' id=camera.camera_id %}" class="btn btn-secondary">
								<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
									<path d="{% include "dashboard/modules/icons/eye_path.txt"%}"/>
								</svg>
							</a>
						</td>
						<td>
							<a href="{% url 'edit_camera' id=camera.camera_id %}?page={{ cameras_list.number }}" class="btn btn-primary">
								<svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
									<path d="{% include "dashboard/modules/icons/edit_path.txt"%}"/>
								</svg>
							</a>
						</td>
						<td>
							<a href="{% url 'delete_camera' id=camera.camera_id %}?page={{ cameras_list.number }}" class="btn btn-danger">
								<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
									<path d="{% include "dashboard/modules/icons/delete_path.txt"%}"/>
								</svg>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="content">
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="{% url 'cameras' %}?page=1">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% if cameras_list.has_previous %}
				<li class="page-item"><a class="page-link" href="{% url 'cameras' %}?page={{ cameras_list.previous_page_number }}">&#139</a></li>
				{% else %}
				<li class="page-item disabled"><a class="page-link" >&#139</a></li>
				{% endif %}

				{% if cameras_list.paginator.num_pages <= 6 %}
					{% for i in pages %}
						<li class="page-item {% if cameras_list.number == i %} active {% endif %} ">
							<a class="page-link" href="{% url 'cameras' %}?page={{i}}">{{i}}</a>
						</li>
					{% endfor %}
				{% else %}
					<li class="page-item disabled"><a class="page-link">...</a></li>
					{% for i in many_pages %}
						<li class="page-item {% if cameras_list.number == i %} active {% endif %} ">
							<a class="page-link" href="{% url 'cameras' %}?page={{i}}">{{i}}</a>
						</li>
					{% endfor %}
					<li class="page-item disabled"><a class="page-link">...</a></li>
				{% endif %}

				{% if cameras_list.has_next %}
				<li class="page-item"><a class="page-link" href="{% url 'cameras' %}?page={{ cameras_list.next_page_number }}">&#155</a></li>
				{% else %}
				<li class="page-item disabled"><a class="page-link">&#155</a></li>
				{% endif %}
				<li class="page-item">
					<a class="page-link" href="{% url 'cameras' %}?page={{ cameras_list.paginator.num_pages }}">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
{% endblock %}

{% block modals %}
{% include 'cameras_admin/forms/create.html' %}
{% include 'cameras_admin/forms/update.html' %}
{% include 'cameras_admin/forms/delete.html' %}
{% endblock %}
