{% extends "dashboard/index.html" %} {% block content %} {% load static %}
<h1>Camaras</h1>

<div class="row">
	<div class="col-2">
		<button
			type="button"
			class="btn btn-primary"
			data-coreui-toggle="modal"
			data-coreui-target="#cameraFormModal"
		>
			Agregar cámara
		</button>
	</div>
</div>
<br>
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Cámara</th>
				<th scope="col">RTSP</th>
				<th scope="col">Servicios</th>
				<th scope="col">Vista</th>
				<th scope="col">Editar</th>
				<th scope="col">Eliminar</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Pasillo 1</td>
				<td>rtsp://root:Aegis4040@192.168.5.35/live.sdp</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
						<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" disabled>
						<label class="btn btn-outline-success active" for="btncheck1">Contéo</label>

						<input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" disabled>
						<label class="btn btn-outline-success" for="btncheck2">Reconocimiento</label>

						<input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" disabled>
						<label class="btn btn-outline-success" for="btncheck3">Placas</label>
					</div>
				</td>
				<td>
					<form action="{% url 'send_message' %}" method="post" id="enviarRTSP_form">
						{% csrf_token %}
						<button class="btn btn-secondary btn-logo" id="enviarRTSP_btn">
							<span class="material-symbols-outlined">visibility</span>
						</button>
					</form>
				</td>
				<td>
					<button class="btn btn-primary btn-logo">
						<span class="material-symbols-outlined">edit</span>
					</button>
				</td>
				<td>
					<button class="btn btn-danger btn-logo">
						<span class="material-symbols-outlined">delete</span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<br>
<div class="row">
	{% comment %} {% if result and result != 'No response from server.' %} {% endcomment %}
	<div class="row">
		<div id="videoContainer" style="padding: 0">
			<img
				id="videoFromCV"
				src="{% url 'video_feed' %}?result={{ result }}"
			/>
		</div>
	</div>
	{% comment %} {% endif %} {% endcomment %}
</div>
<br>
<!-- Form Modal -->
<div
	class="modal fade modal-lg"
	id="cameraFormModal"
	tabindex="-1"
	aria-labelledby="cameraFormModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cameraFormModalLabel">
					Agregar cámara
				</h5>
				<button
					type="button"
					class="btn-close"
					data-coreui-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form action="{% url 'create_camera' %}" method="post" id="createCamera_form">
					{% csrf_token %}
					<div class="mb-3">
						<label for="cameraName_field" class="form-label">
							Nombre de la cámara
						</label>
						<input
							type="text"
							class="form-control"
							id="cameraName_field"
							name="name"
							required
						/>
					</div>
					<div class="mb-3">
						<label for="cameraRtsp_field" class="form-label">
							RTSP
						</label>
						<input
							type="text"
							class="form-control"
							id="cameraRtsp_field"
							name="rtsp"
							required
						></input>
					</div>
						<label class="form-label">
							Servicios
						</label>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="countingPeople_flexSwitch">
							<label class="form-check-label" for="countingPeople_flexSwitch">Contéo de personas</label>
						</div>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="faceRecog_flexSwitch">
							<label class="form-check-label" for="faceRecog_flexSwitch">Reconocimiento facial</label>
						</div>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="vehicules_flexSwitch">
							<label class="form-check-label" for="vehicules_flexSwitch">Registro de placas vehículares</label>
						</div>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-coreui-dismiss="modal"
				>
					Cancelar
				</button>
				<button id="saveCamera_btn" type="button" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>
</div>

<!-- Form Modal -->
<div
	class="modal fade modal-lg"
	id="cameraViewModal"
	tabindex="-1"
	aria-labelledby="cameraFormModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cameraViewModalLabel">
					Cámara: Pasillo 1
				</h5>
				<button
					type="button"
					class="btn-close"
					data-coreui-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>

{% endblock %}
