{% extends "dashboard/index.html" %} {% load static %}
{% block title %}Rtsp {{ camera_name }}{% endblock %}
{% block content %}

<div class="row">
	<div class="col-2">
		<a type="button" href="{% url 'cameras' %}" class="btn btn-primary">
			<svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
				<path d="{% include "dashboard/modules/icons/arrowBack_path.txt" %}"/>
			</svg>
			Regresar
		</a>
	</div>
</div>
<br>
<div class="row">
	{% if rtsp and rtsp != 'No response from server.' %}
	<div class="col-7">
		<div id="videoContainer" width='100%'>
			<img width='100%' src="{% url 'video_feed' %}?rtsp={{ rtsp }}" />
		</div>
	</div>
	<div class="col-5">
		<div class="card mb-3">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">ID</th>
						<th scope="col">Notificación</th>
						<th scope="col">Cámara</th>
						<th scope="col">Hora</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>3234</td>
						<td>Acceso permitido</td>
						<td>Cámara 1</td>
						<td>09:35:12 AM</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>1256</td>
						<td>Acceso denegado</td>
						<td>Cámara 2</td>
						<td>10:15:44 AM</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>8765</td>
						<td>Acceso permitido</td>
						<td>Cámara 3</td>
						<td>11:45:21 AM</td>
					</tr>
					<tr>
						<th scope="row">4</th>
						<td>4321</td>
						<td>Acceso denegado</td>
						<td>Cámara 1</td>
						<td>01:20:33 PM</td>
					</tr>
					<tr>
						<th scope="row">5</th>
						<td>9876</td>
						<td>Acceso permitido</td>
						<td>Cámara 2</td>
						<td>02:50:57 PM</td>
					</tr>
					<tr>
						<th scope="row">6</th>
						<td>6578</td>
						<td>Acceso denegado</td>
						<td>Cámara 3</td>
						<td>04:30:10 PM</td>
					</tr>
					<tr>
						<th scope="row">7</th>
						<td>2345</td>
						<td>Acceso permitido</td>
						<td>Cámara 1</td>
						<td>05:45:23 PM</td>
					</tr>
					<tr>
						<th scope="row">8</th>
						<td>7865</td>
						<td>Acceso permitido</td>
						<td>Cámara 2</td>
						<td>07:10:14 PM</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
