{% extends "dashboard/index.html" %} {% load static %}
{% block title %}Rtsp {{ camera_name }}{% endblock %}
{% block content %}
<h1>Video {{ camera_name }}</h1>

<div class="row">
	<div class="col-2">
		<a type="button" href="{% url 'cameras' %}" class="btn btn-primary">
			<svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
				<path d="{% include "dashboard/modules/icons/arrowBack_path.txt" %}"/>
			</svg>
			Regresar
		</a>
	</div>
</div>
<br>
<div class="row">
	{% if rtsp and rtsp != 'No response from server.' %}
	<div class="row">
		<div id="videoContainer">
			<img src="{% url 'video_feed' %}?rtsp={{ rtsp }}" />
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
